{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="description" content="A simple Document Viewer made with Python and Django.">
		<meta name="author" content="Nishant Ranjan">
		<title>Django Document Viewer</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>
	<body id="page-top">
		<div class="allButFooter">
		<!-- Navigation -->
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="{% url 'documents:view' %}"><h1><strong><em>Django Document Viewer</em></strong></h1></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						{% if user.is_authenticated %}
						<li>
							<a class="page-scroll" href="{% url 'documents:view' %}">Home</a>
						</li>
						<li>
							<a class="page-scroll" href="{% url 'documents:add' %}">Add Documents</a>
						</li>
						<li>
							<a class="page-scroll" href="{% url 'documents:user_doc' %}">My Documents</a>
						</li>
						<li>
							<a class="page-scroll" href="{% url 'logout' %}">Log Out</a>
						</li>	
						{% else %}
						<li>
							<a class="page-scroll" href="{% url 'register' %}">Register</a>
						</li>
						<li>
							<a class="page-scroll" href="{% url 'login' %}">Login</a>
						</li>
						{% endif %}
					</ul>
				</div>
		</nav>
		<br>


			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
			{% block content %}

			{% endblock content %}
</div>

		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		<footer>
			<div class="container text-center">
				<p>Designed by <a href="https://meetnishant.com"><span>Nishant Ranjan</span></a></p>
			</div>
		</footer>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/SmoothScroll.js' %}"></script>
		<script src="{% static 'js/theme-scripts.js' %}"></script>
		{% block JS %}

		{% endblock JS %}

	</body>
</html>