{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<section>
		<div class="container">

		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<h2>Top Documents</h2>
				</div>
			</div>
		</div>

		{% for obj in object_list %}

				<div class="row row-0-gutter">
					<div class="col-md-8 col-md-offset-2 col-0-gutter">
						<h2><strong>{{ obj.title }}</strong></h2>
						<p>{{ obj.description }}</p>
						{% for doc in document_list %}
						{% if doc.document_id == obj.id %}
						<a href="/viewerjs/index.html#{{ cdn }}/media/{{ doc.document_url }}" target="_blank">
							<button class="btn btn-info" style="margin: 0 5px 10px 0;">View Document</button>
						</a>
						{% endif %}
						{% endfor %}
						<hr>
					</div>
				</div>
			{% endfor %}

		</div>
	</section>


	<section id="about" class="mz-module">
		<div class="container light-bg">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>ABOUT</h2>
					</div>
				</div>
				<div class="col-md-10 col-md-offset-1 text-center">
					<div class="mz-about-container">
						<p>Django Document Viewer is a platform where users can register and then upload their documents. These documents can be viewed by anyone. Accepted Document Formats are PDF, ODT, FODT <br>
						This project was made as a screening task for the <a href="https://fossee.in/" target="_blank">FOSSEE Fellowship 2019 Collaborative Communities</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}