{% extends "base.html" %}
{% load staticfiles %}
{% load apptags %}


{% block content %}



		
		<section id="portfolio">
			<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="section-title">
						<h2>My Images</h2>
					</div>
				</div>
			</div>
			<div class="row row-0-gutter">
				{% for obj in object_list %}


					{% with obj.doc_url.url|split:"%20" as document_url %}
				        {% for url in document_url %}
				         
				        
				<div class="col-md-6 col-0-gutter">
					<div class="ot-portfolio-item">
						<figure class="effect-bubba">
							<img src="/media/{{ url|rem }}" alt="img02" class="img-responsive" />
							<figcaption>
								<h2>{{ obj.title }}</h2>
								<p>Branding, Design</p>
								<a href="{% url 'details' slug=obj.slug %}"></a>
							</figcaption>
						</figure>
					</div>
				</div>
				{% endfor %}
				{% endwith %}
				{% endfor %}
			</div>

			</div>
		</section>


{% endblock content %}